@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- public List<string> ErrorMessages { get; set; } = new(); -->
<!-- public List<string> UserEmails { get; set; } = new(); -->
<!-- public User KeyUser { get; set; } = new(); -->
<!-- public User EmailUser { get; set; } = new(); -->

<div class="text-center">

    <h1>Hot reload enabled</h1>

    @if (Model.ErrorMessages.Any())
    {
        <div class="alert alert-danger" role="alert">
            <ul>
                @foreach (var error in Model.ErrorMessages)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    @foreach (var email in Model.UserEmails)
    {
        <p>User Email: @email</p>
    }

    <p>KeyUser: @Model.KeyUser?.FirstName @Model.KeyUser?.LastName (@Model.KeyUser?.UserKey @Model.KeyUser?.Email)</p>
    <p>EmailUser: @Model.EmailUser?.FirstName @Model.KeyUser?.LastName (@Model.EmailUser?.UserKey
        @Model.EmailUser?.Email)
    </p>
</div>
